In [2]:
import pandas as pd
from pandas import json_normalize
import numpy as np
import matplotlib.pyplot as plt
import os

In [11]:
import pandas as pd
import os

# Path to the directory containing all your CSV files
directory_path = 'all_csv/Oral'

# List to hold your DataFrames
dataframes = []

# Iterate through every file in the directory
for filename in os.listdir(directory_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(directory_path, filename)
        df = pd.read_csv(file_path)

        # Add a new column for the channel name, which is the filename without the extension
        df['channel_name'] = filename[:-4]  # removes the '.csv' from the filename

        dataframes.append(df)

# Concatenate all DataFrames into one
combined_df = pd.concat(dataframes, ignore_index=True)

# Remove duplicates based only on the 'message' column
final_df = combined_df.drop_duplicates(subset=['message'])

# Save the final DataFrame to a new CSV file
final_df.to_csv('all_csv/Oral_all.csv', index=False)

# Optionally, print the shape or head of the DataFrame to verify
print(final_df.shape)
final_df.head()

(239, 3)

,date,message,channel_name
0,2024-10-30T14:19:35,"Срочно нужна квартира 2х комн.\n\nУнивермаг,Ди...",Уральск Квартира Орал КВАРТИРА Аренда
1,2024-10-29T13:55:07,Нужна квартира на длительный срок/Подселение\n...,Уральск Квартира Орал КВАРТИРА Аренда
2,2024-10-29T12:16:24,1 комнаталы квартираға 1 қыз іздейміз \n\n04.1...,Уральск Квартира Орал КВАРТИРА Аренда
3,2024-10-29T12:14:10,Қасымызға қыз 1 іздеймііз❗️❗️❗️\n\nМекенжай:Ом...,Уральск Квартира Орал КВАРТИРА Аренда
4,2024-10-29T12:10:03,Квартираға 1-бала керек бірге тұруға \n\nкв к...,Уральск Квартира Орал КВАРТИРА Аренда

In [13]:
# Path to the directory containing your CSV files
directory_path = 'all_csv'

# List to hold your DataFrames
dataframes = []

# List of CSV files to merge
csv_files = ['Almaty.csv', 'Astana.csv', 'Atyrau.csv', 'Oral.csv', 'Shymkent.csv', 'Taldykorgan.csv', 'Taraz.csv']

# Iterate through the list of CSV files
for file_name in csv_files:
    file_path = os.path.join(directory_path, file_name)
    df = pd.read_csv(file_path)

    # Add a new column 'city' that extracts the city name from the file name
    city_name = file_name.replace('.csv', '')  # Remove the extension to get the city name
    df['city'] = city_name  # Add the city name as a new column

    dataframes.append(df)

# Concatenate all DataFrames into one
combined_df = pd.concat(dataframes, ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv('all_csv/All_in_one.csv', index=False)

# Optionally, print the shape or head of the DataFrame to verify
print(combined_df.shape)
combined_df.head()

(76406, 5)

,Unnamed: 0,date,message,channel_name,city
0,0,2024-10-31T19:19:02,Ищем на подселение 1 девушку Квартира 3 комнат...,SDU [housing],Almaty
1,1,2024-10-31T18:32:46,Всем привет ищу 12 девочку к себе на подселени...,SDU [housing],Almaty
2,2,2024-10-31T18:23:14,Алма Сити 5 екы жыгыт ыздеймыз поселениеге 50к...,SDU [housing],Almaty
3,3,2024-10-31T17:43:32,СДУға жақын жерде орналасқан коттедж үй жалға ...,SDU [housing],Almaty
4,4,2024-10-31T16:42:10,ищем одну девушку на подселение в однокомнатну...,SDU [housing],Almaty

In [43]:
combined_df = pd.read_csv('all_csv/All_in_one.csv')
combined_df['date'] = pd.to_datetime(combined_df['date'])
combined_df.to_csv('all_csv/All_in_one.csv')

In [27]:
# Count of our chats
len(combined_df.channel_name.unique().tolist())

22

In [28]:
# Count of Cities
combined_df.city.unique()

array(['Almaty', 'Astana', 'Atyrau', 'Oral', 'Shymkent', 'Taldykorgan',
       'Taraz'], dtype=object)

In [40]:
combined_df['date'] = pd.to_datetime(combined_df['date'])
first = combined_df.sort_values('date').iloc[0]
first

Unnamed: 0.1                                                65738
Unnamed: 0                                                  14560
date                                          2020-04-26 23:11:29
message         В будущем в первую очередь здесь будут публико...
channel_name                                  podselenie_v_astane
city                                                       Astana
Name: 60923, dtype: object

In [41]:
last = combined_df.sort_values('date', ascending=False).iloc[0]
last

Unnamed: 0.1                                                    0
Unnamed: 0                                                      0
date                                          2024-10-31 19:19:02
message         Ищем на подселение 1 девушку Квартира 3 комнат...
channel_name                                        SDU [housing]
city                                                       Almaty
Name: 0, dtype: object

In [42]:
(last['date'] - first['date']).days

1648