In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('combined_file.xlsx')

In [5]:
df.to_csv('data_229786.csv', index=False)

In [3]:
dt = pd.read_excel('output_file.xlsx')

dt.to_csv('my_file.csv', index=False) 

df = pd.read_csv('my_file.csv')
df.tail()

,date,message,channel_name,address,cost,gender,people_needed,long_term,phone_number,utilities,deposit
29723,2024-02-10 23:59:15,Квартира на длительный срок мкр Кунаева 55 Абу...,Уральск Квартира Орал КВАРТИРА Аренда,мкр Кунаева 55 Абулхаирхана Уральск,110000.0,NaN,NaN,True,7 701 505 0250,True,NaN
29724,2024-02-10 23:54:12,Квартира на длительный срок Маметова проспект ...,Уральск Квартира Орал КВАРТИРА Аренда,Маметова проспект Назарбаева Уральск,150000.0,NaN,NaN,True,7 705 150 4320,False,NaN
29725,2024-02-10 23:52:18,Квартира на длительный срок мкр СевероВосток 2...,Уральск Квартира Орал КВАРТИРА Аренда,мкр СевероВосток 28 Уральск,140000.0,NaN,NaN,True,7 701 540 3195,False,NaN
29726,2023-12-10 17:50:37,Аренда квартиры на длительный срок Уральск 1 к...,Уральск Квартира Орал КВАРТИРА Аренда,зачаганске бирлик 17 зачаганск,90000.0,NaN,NaN,True,8 707 214 5869,True,NaN
29727,NaN,NaN,NaN,NaN,60000.0,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
filter = df[(df['cost'] > 100000) & (df['cost'] < 10000000)]['cost'].sort_values(ascending=False).unique()
filter

array([944000., 910000., 900000., 890000., 875000., 835000., 825000.,
       766000., 750000., 725000., 700000., 675000., 670000., 650000.,
       630000., 625000., 607080., 600000., 585000., 575000., 550000.,
       525000., 510000., 506070., 500000., 475000., 470000., 455000.,
       450000., 430000., 425000., 420000., 405000., 402000., 400000.,
       385000., 380000., 375000., 370000., 360000., 357000., 355000.,
       350000., 340000., 335000., 333000., 330000., 320000., 315000.,
       310000., 300400., 300000., 295000., 290000., 285000., 280000.,
       275000., 270000., 260000., 250000., 245000., 240000., 235000.,
       230000., 225000., 220000., 215000., 210000., 209000., 200000.,
       195000., 190000., 185000., 180200., 180000., 175000., 170000.,
       169000., 167000., 166000., 165000., 160000., 159000., 155000.,
       151000., 150000., 145000., 143000., 140000., 135000., 134000.,
       133500., 133000., 130000., 126000., 125000., 120000., 117000.,
       116000., 115000., 114000., 113000., 112000., 110000., 109000.,
       108000., 107000., 106000., 105000., 100200.])

In [49]:
numbers = [2190000., 2050000., 2040000., 2030000., 2026000., 2025000.,
       2000000., 1525000., 1500000., 1315000., 1213000., 1200000.,]

# replace_dict_5 = {num: (int(num) % 100000) for num in numbers}
replace_dict_5 ={2190000.0: 90000,
 2050000.0: 50000,
 2040000.0: 40000,
 2030000.0: 30000,
 2026000.0: 26000,
 2025000.0: 25000,
 2000000.0: 20000,
 1525000.0: 25000,
 1500000.0: 15000,
 1315000.0: 15000,
 1213000.0: 13000,
 1200000.0: 12000}

# replace_dict_5
df['cost'] = df['cost'].replace(replace_dict_5)

In [ ]:
replace_dict_5 = {100200: 200000, 6070000: 70000, 5060000: 60000, 1217000: 17000, 3540000: 40000, 1130000: 30000, 4550000: 50000,
                  5070000: 70000, 4055000: 55000, 100130: 130000, 5055000: 55000, 7080000: 80000, 500600: 600000, 5065000: 65000,  
                  4045000: 45000, 6080000: 80000, 707500: 75000, 4555000: 55000, 7075000: 75000}

df['cost'] = df['cost'].replace(replace_dict_5)

In [55]:
d = df[df['cost'] == 375000]
d

,date,message,channel_name,address,cost,gender,people_needed,long_term,phone_number,utilities,deposit
12947,2024-11-22 19:04:42,Подселение 1 кыз кажет Адрес Толе биЖарокова Н...,Аренда квартир Алматы - Чат,Толе биЖарокова Новый ЖК,375000.0,female,1,NaN,87077560045,False,NaN

In [56]:
print(df.loc[12947 , 'message'])

Подселение 1 кыз кажет Адрес Толе биЖарокова Новый ЖК квартира новая с мебелью 2 ком Ремонт очень классный в доме обсолютно все мебели техники есть Будем жить вчетвером Ищем платежеспособную адекватную чистую и работающую девушку Декабрьдің басы көшіп келсе болады Оплата 100К375К депозит Рядом парк кафе аптека магазины супермаркеты и тд Номер 87077560045

In [ ]:
numbers = [ 80., 40., 55., 90., 100., 50., 60., 130., 150., 63., 70., 400., 180., 75.,
           220., 300., 250., 54., 57., 25., 35., 280., 45., 670., 200., 120., 510., 702.,
           210., 67., 475., 65., 110., 53., 140., 190., 38., 700., 85., 77., 170., 20.,
           160., 230., 350., 240., 105., 285., 46., 73., 165., 66., 175., 48., 30., 36.,
           56., 135., 125., 470., 333., 270., 625., 290., 62., 5., 890., 23., 8., 24.,
           26., 550., 12., 33., 44., 260., 95., 51., 74., 115., 37., 42., 41., 47.,
           145., 27., 209., 750., 650., 500., 22.]


# Әр санға 000 қосып, replace_dict түрінде сақтап шығару
replace_dict = {num: num * 1000 for num in numbers}

# Нәтижені көрсету
print(replace_dict)

df['cost'] = df['cost'].replace(replace_dict)

{80.0: 80000.0, 40.0: 40000.0, 55.0: 55000.0, 90.0: 90000.0, 100.0: 100000.0, 50.0: 50000.0, 60.0: 60000.0, 130.0: 130000.0, 150.0: 150000.0, 63.0: 63000.0, 70.0: 70000.0, 400.0: 400000.0, 180.0: 180000.0, 75.0: 75000.0, 220.0: 220000.0, 300.0: 300000.0, 250.0: 250000.0, 54.0: 54000.0, 57.0: 57000.0, 25.0: 25000.0, 35.0: 35000.0, 280.0: 280000.0, 45.0: 45000.0, 670.0: 670000.0, 200.0: 200000.0, 120.0: 120000.0, 510.0: 510000.0, 702.0: 702000.0, 210.0: 210000.0, 67.0: 67000.0, 475.0: 475000.0, 65.0: 65000.0, 110.0: 110000.0, 53.0: 53000.0, 140.0: 140000.0, 190.0: 190000.0, 38.0: 38000.0, 700.0: 700000.0, 85.0: 85000.0, 77.0: 77000.0, 170.0: 170000.0, 20.0: 20000.0, 160.0: 160000.0, 230.0: 230000.0, 350.0: 350000.0, 240.0: 240000.0, 105.0: 105000.0, 285.0: 285000.0, 46.0: 46000.0, 73.0: 73000.0, 165.0: 165000.0, 66.0: 66000.0, 175.0: 175000.0, 48.0: 48000.0, 30.0: 30000.0, 36.0: 36000.0, 56.0: 56000.0, 135.0: 135000.0, 125.0: 125000.0, 470.0: 470000.0, 333.0: 333000.0, 270.0: 270000.0, 625.0: 625000.0, 290.0: 290000.0, 62.0: 62000.0, 5.0: 5000.0, 890.0: 890000.0, 23.0: 23000.0, 8.0: 8000.0, 24.0: 24000.0, 26.0: 26000.0, 550.0: 550000.0, 12.0: 12000.0, 33.0: 33000.0, 44.0: 44000.0, 260.0: 260000.0, 95.0: 95000.0, 51.0: 51000.0, 74.0: 74000.0, 115.0: 115000.0, 37.0: 37000.0, 42.0: 42000.0, 41.0: 41000.0, 47.0: 47000.0, 145.0: 145000.0, 27.0: 27000.0, 209.0: 209000.0, 750.0: 750000.0, 650.0: 650000.0, 500.0: 500000.0, 22.0: 22000.0}

In [ ]:
import numpy as np
# Берілген сандар
numbers = np.array([7274., 5050., 6070., 2025., 4000., 5556., 5055., 4060., 6890., 4050.,
                    5060., 3040., 5040., 4055., 5000., 2030., 3545., 4045., 8090., 5070.,
                    3050., 4550., 2500., 1000., 3000., 6090., 5065., 5560., 6000., 7090.,
                    6075., 6570., 5075., 4500., 3060., 3550., 7075., 4555., 6080., 7273.,
                    3500., 4560., 7080., 2100., 1490., 4999., 2000., 8085., 5557., 9090.,
                    3035., 3540., 9000., 1929., 1200., 1500., 4600., 5800., 8500., 2830.,
                    8000., 8775., 7500., 6500., 2509., 7000., 3036., 6065., 6020., 5080.,
                    4065., 3042., 4345., 3990., 4070., 5455., 5500., 3031., 9120., 4570.,
                    5565., 3055., 1825., 2930., 1520., 4250., 6990., 6370., 5524., 1406.,
                    4347., 7570., 8120., 7580., 8100., 1003., 2346., 6050., 2530., 3030.])

# Әр санды 1000-ге көбейтіп, алғашқы екі цифрды алып тастау
# replace_dict_2 = {num: (int(num * 1000) % 100000) for num in numbers}
replace_dict_2 = {7274.0: 74000, 5050.0: 50000, 6070.0: 70000, 2025.0: 25000, 4000.0: 40000, 5556.0: 56000, 5055.0: 55000, 4060.0: 60000, 6890.0: 90000, 4050.0: 50000, 5060.0: 60000, 3040.0: 40000, 5040.0: 40000, 4055.0: 55000, 5000.0: 0, 2030.0: 30000, 3545.0: 45000, 4045.0: 45000, 8090.0: 90000, 5070.0: 70000, 3050.0: 50000, 4550.0: 50000, 2500.0: 0, 1000.0: 0, 3000.0: 0, 6090.0: 90000, 5065.0: 65000, 5560.0: 60000, 6000.0: 0, 7090.0: 90000, 6075.0: 75000, 6570.0: 70000, 5075.0: 75000, 4500.0: 0, 3060.0: 60000, 3550.0: 50000, 7075.0: 75000, 4555.0: 55000, 6080.0: 80000, 7273.0: 73000, 3500.0: 0, 4560.0: 60000, 7080.0: 80000, 2100.0: 0, 1490.0: 90000, 4999.0: 99000, 2000.0: 0, 8085.0: 85000, 5557.0: 57000, 9090.0: 90000, 3035.0: 35000, 3540.0: 40000, 9000.0: 0, 1929.0: 29000, 1200.0: 0, 1500.0: 0, 4600.0: 0, 5800.0: 0, 8500.0: 0, 2830.0: 30000, 8000.0: 0, 8775.0: 75000, 7500.0: 0, 6500.0: 0, 2509.0: 9000, 7000.0: 0, 3036.0: 36000, 6065.0: 65000, 6020.0: 20000, 5080.0: 80000, 4065.0: 65000, 3042.0: 42000, 4345.0: 45000, 3990.0: 90000, 4070.0: 70000, 5455.0: 55000, 5500.0: 0, 3031.0: 31000, 9120.0: 20000, 4570.0: 70000, 5565.0: 65000, 3055.0: 55000, 1825.0: 25000, 2930.0: 30000, 1520.0: 20000, 4250.0: 50000, 6990.0: 90000, 6370.0: 70000, 5524.0: 24000, 1406.0: 6000, 4347.0: 47000, 7570.0: 70000, 8120.0: 20000, 7580.0: 80000, 8100.0: 0, 1003.0: 3000, 2346.0: 46000, 6050.0: 50000, 2530.0: 30000, 3030.0: 30000}

# Нәтижені көрсету
# print(replace_dict_2)
df['cost'] = df['cost'].replace(replace_dict_2)

[190000. 200000. 169000. 240000. 150000. 260000. 300000. 210000. 220000.
 160000. 170000. 140000. 130000. 120000. 105000. 380000. 115000. 110000.
 151000. 230000. 125000. 180000. 250000. 354550. 113000. 475000. 280000.
 165000. 135000. 400000. 175000. 195000. 116000. 108000. 117000. 100120.
 350000. 110120. 150200. 230250. 450000. 120140. 145000. 290000. 112000.
 275000. 100130. 250270. 107000. 150160. 200230. 170190. 140150. 270000.
 126000. 200210. 100180. 100150. 109000. 130110. 200250. 160180. 100140.
 150180. 100110. 225000. 120150. 190295. 120130. 300330. 285000. 350400.
 330000. 155000. 170200. 100200. 250300. 115120. 130150. 140160. 320000.
 112500. 120160. 159000. 370000. 134000. 425000. 130160. 384042. 340000.
 100375. 133500. 300400. 150170. 180200. 150210. 150250. 220250. 133000.
 470000. 357000. 200240. 130140. 200300. 333000. 402000. 106000. 315000.
 100125. 166666. 215000. 360000. 185000. 245000. 200220. 300350. 180210.
 405000. 100160. 200270. 310000. 190220. 280300. 120200. 168000. 420000.
 279000.]

Empty DataFrame
Columns: [date, message, channel_name, address, cost, gender, people_needed, long_term, phone_number, utilities, deposit]
Index: []

In [60]:
df = df.drop(28995)

In [ ]:
replace_dict = {80: 80000, 40: 40000, 55: 55000, 90: 90000}
df['cost'] = df['cost'].replace(replace_dict)

In [13]:
print(df.dtypes)

date              object
message           object
channel_name      object
address           object
cost             float64
gender            object
people_needed     object
long_term         object
phone_number      object
utilities         object
deposit          float64
dtype: object

In [ ]:
df.to_excel('output_file.xlsx', index=False)

{80: 80000, 40: 40000, 55: 55000, 90: 90000, 100: 100000, 50: 50000, 60: 60000, 200: 200000, 120: 120000, 70: 70000, 510: 510000, 702: 702000, 210: 210000, 67: 67000, 150: 150000, 475: 475000, 65: 65000, 250: 250000, 110: 110000, 53: 53000, 130: 130000, 180: 180000, 140: 140000, 190: 190000, 38: 38000, 700: 700000, 300: 300000, 85: 85000, 77: 77000, 75: 75000, 170: 170000, 20: 20000, 54: 54000, 160: 160000, 230: 230000, 35: 35000, 350: 350000, 240: 240000, 105: 105000, 285: 285000, 45: 45000, 46: 46000, 73: 73000, 165: 165000, 66: 66000, 175: 175000, 48: 48000, 30: 30000, 36: 36000, 56: 56000, 400: 400000, 135: 135000, 125: 125000, 57: 57000, 470: 470000, 333: 333000, 270: 270000, 625: 625000, 290: 290000, 62: 62000, 61: 61000, 909: 909000, 115: 115000, 42: 42000, 78: 78000, 220: 220000, 500: 500000}

In [ ]:
for_people_needed = df['people_needed'].unique()
for_people_needed

array(['3', '1', '2', '4', nan, '12', '5', '23', '9', '8', '6', '56', '7',
       '2 или 3', '45', '10', '34', '57', '1 или 2', '24', '11', '67',
       '2 или уш', '2 немесе 3', '52', '2 либо 3', '1,2', '60', '100',
       '35', '123', '22', '69', '1 or 2', '14', '33', '1 или двух', '1-2',
       '13', '19', '50', '18', '46', '1или2', '21', '1 немесе 2', '17',
       '0', '3,4'], dtype=object)

In [4]:
replace_dict_PN = {'12': 2, '23': 3, '56': 6, '2 или 3': 3, '45': 5, '1 или 2': 2, '2 или уш': 3, '2 немесе 3': 3, 
                '2 либо 3': 3, '1,2': 2, '123': 3, '1 or 2': 2, '1 или двух': 2, '1-2': 2, '1или2': 2, 
                '1 немесе 2': 2, '3,4': 4,}

df['people_needed'] = df['people_needed'].replace(replace_dict_PN)

In [7]:
df.to_excel('repPN.xlsx', index=False)

In [ ]:
filter = df['gender'].unique

array(['female', 'male', nan], dtype=object)

In [59]:
replace_dict_gender = {'female ': 'female', 'male or female': 'male', 'мж': 'male', 'девочка': 'female', 'девушкам': 'female', 
                       'девочки': 'female', 'девушку': 'female', 'ер адамын': 'female', 'сыз': 'female',
       'жігіт': 'male', 'стринг': 'male', 'девушка или парень': 'female', 'мужской': 'male'}
df['gender'] = df['gender'].replace(replace_dict_gender)

In [2]:
# df.to_excel('full.xlsx', index=False)

dt = pd.read_excel('full.xlsx')
dt.to_csv('data_29728.csv', index=False)

In [ ]:
df = pd.read_csv('data_29728.csv')
df

,date,message,channel_name,address,cost,gender,people_needed,long_term,phone_number,utilities,deposit
0,2024-11-27 14:55:46,Всем привет срочно ищу 3 девушку для проживани...,DAILY ХАТА,Жк сат сити,90000.0,female,3.0,NaN,NaN,False,NaN
1,2024-11-25 20:38:21,62500 комм услуги 25000 за депозит Букар Жырау...,DAILY ХАТА,Букар Жырау 342,62500.0,female,1.0,NaN,NaN,True,25000.0
2,2024-11-25 20:37:46,всем приветищу девушку для сожительствабудем ж...,DAILY ХАТА,NaN,65000.0,female,1.0,1,NaN,True,NaN
3,2024-11-25 20:37:35,Всем привет Ищем к кому к девушкам подселиться...,DAILY ХАТА,NaN,60000.0,female,2.0,NaN,NaN,False,NaN
4,2024-11-25 20:37:24,Ищем квартиру Мы три девушки ищем квартиру для...,DAILY ХАТА,NaN,NaN,female,3.0,1,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
29723,2024-02-10 23:59:15,Квартира на длительный срок мкр Кунаева 55 Абу...,Уральск Квартира Орал КВАРТИРА Аренда,мкр Кунаева 55 Абулхаирхана Уральск,110000.0,NaN,NaN,True,7 701 505 0250,True,NaN
29724,2024-02-10 23:54:12,Квартира на длительный срок Маметова проспект ...,Уральск Квартира Орал КВАРТИРА Аренда,Маметова проспект Назарбаева Уральск,150000.0,NaN,NaN,True,7 705 150 4320,False,NaN
29725,2024-02-10 23:52:18,Квартира на длительный срок мкр СевероВосток 2...,Уральск Квартира Орал КВАРТИРА Аренда,мкр СевероВосток 28 Уральск,140000.0,NaN,NaN,True,7 701 540 3195,False,NaN
29726,2023-12-10 17:50:37,Аренда квартиры на длительный срок Уральск 1 к...,Уральск Квартира Орал КВАРТИРА Аренда,зачаганске бирлик 17 зачаганск,90000.0,NaN,NaN,True,8 707 214 5869,True,NaN
29727,NaN,NaN,NaN,NaN,60000.0,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
import pandas as pd
import requests
import csv
import os
from tqdm import tqdm
import time

# Функция для получения района и координат из API 2ГИС
def get_district_and_coords(address, api_key):
    base_url = 'https://catalog.api.2gis.com/3.0/items'
    query = f"Алматы, {address}"
    params = {
        'q': query,
        'fields': 'items.adm_div,items.point',  # Поля для получения административных подразделений и координат
        'key': api_key,
        'page_size': 5  # Количество возвращаемых элементов для поиска district
    }

    try:
        response = requests.get(base_url, params=params, timeout=10)
        if response.status_code != 200:
            print(f"Ошибка запроса для адреса '{address}': статус {response.status_code}")
            return {'город': None, 'район': None, 'coodsX': None, 'coodY': None}

        data = response.json()
        items = data.get('result', {}).get('items', [])
        if not items:
            print(f"Нет данных для адреса '{address}'")
            return {'город': None, 'район': None, 'coodsX': None, 'coodY': None}

        # Инициализируем переменные
        district = None
        city = None
        lat = None
        lon = None

        # Итерируемся по всем элементам items
        for item in items:
            adm_div = item.get('adm_div', [])
            # Ищем в adm_div элемент с type == 'district'
            for adm in adm_div:
                if adm.get('type') == 'district':
                    district = adm.get('name')
                    break  # Выходим из цикла adm_div, так как нашли district
            if district:
                # Получаем координаты из текущего элемента
                point = item.get('point', {})
                lat = point.get('lat')
                lon = point.get('lon')

                # Также можно получить город, если необходимо
                for adm in adm_div:
                    if adm.get('type') == 'city':
                        city = adm.get('name')
                        break

                # Прерываем внешний цикл, так как district найден
                break

        # Печатаем информацию о текущей обработке
        print(f"Адрес: {address}")
        print(f"Город: {city}, Район: {district}, CoordsX: {lon}, CoodY: {lat}\n")

        return {'город': city, 'район': district, 'coodsX': lon, 'coodY': lat}

    except requests.RequestException as e:
        print(f"Ошибка запроса для адреса '{address}': {e}")
        return {'город': None, 'район': None, 'coodsX': None, 'coodY': None}
    except Exception as e:
        print(f"Неизвестная ошибка для адреса '{address}': {e}")
        return {'город': None, 'район': None, 'coodsX': None, 'coodY': None}

# Функция для записи данных в CSV
def write_to_csv(csv_file, header, row_data):
    file_exists = os.path.isfile(csv_file)
    with open(csv_file, mode='a', encoding='utf-8', newline='') as f:
        writer = csv.writer(f)
        # Если файла не существует, пишем заголовок
        if not file_exists:
            writer.writerow(header)
        writer.writerow(row_data)

# Главная функция
def main():
    api_key = '0857add9-8132-41cd-b1d8-9d36b65005bf'
    csv_file = 'processed_records.csv'  # Имя CSV-файла для сохранения результатов

    # Предполагается, что ваш DataFrame называется df и уже загружен
    # Например:
    # df = pd.read_csv('your_input_file.csv')

    # Пример создания DataFrame для демонстрации (удалите этот блок, если ваш DataFrame уже загружен)
    # data = {
    #     'channel_name': [
    #         'Аренда Жилья.Подселение Алматы',
    #         'ПОДСЕЛЕНИЕ АЛМАТЫ КВАРТИРА',
    #         'ПОДСЕЛЕНИЕ АЛМАТЫ',
    #         'Аренда квартира Алматы',
    #         'АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)'
    #     ],
    #     'address': [
    #         'ул. Абая, 123, Алматы',
    #         'пр. Республики, 45, Алматы',
    #         'ул. Достык, 78, Алматы',
    #         'пр. Достык, 78, Алматы',
    #         'пр. Абая, 45, Алматы'
    #     ]
    # }
    # df = pd.DataFrame(data)

    # 1. Фильтрация DataFrame по заданным каналам и наличию адреса
    channels = [
        'Аренда Жилья.Подселение Алматы',
        'ПОДСЕЛЕНИЕ АЛМАТЫ КВАРТИРА',
        'ПОДСЕЛЕНИЕ АЛМАТЫ',
        'Аренда квартира Алматы',
        'Аренда квартир Алматы - Чат',
        'КВАРТИРА АЛМАТЫ  ПӘТЕР АЛМАТЫ  НЕДВИЖИМОСТЬ АЛМАТЫ',
        'Квартиры Алматы  Аренда квартир Алматы  Поиск соседей Алматы',
        'Квартира в Алматы  Поиск квартиры',
        'АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)'
    ]

    # Фильтрация: выбираем строки, где 'channel_name' в списке и 'address' не пустой
    df_filtered = df[df['channel_name'].isin(channels) & df['address'].notnull()].copy()

    # Ограничение количества запросов до 700 (для полного набора)
    df_filtered = df_filtered.head(700).reset_index(drop=True)

    # Проверяем, существует ли CSV-файл и считываем уже обработанные записи
    if os.path.isfile(csv_file):
        try:
            processed_df = pd.read_csv(csv_file)
            processed_set = set(zip(processed_df['channel_name'], processed_df['address']))
            print(f"Найдено {len(processed_set)} уже обработанных записей. Продолжаем с оставшихся.")
        except Exception as e:
            print(f"Ошибка при чтении существующего CSV-файла: {e}")
            processed_set = set()
    else:
        processed_set = set()
        print("Файл CSV не найден. Начинаем обработку с начала.")

    # Фильтруем df_filtered, исключая уже обработанные записи
    mask = df_filtered.apply(lambda row: (row['channel_name'], row['address']) not in processed_set, axis=1)
    df_to_process = df_filtered[mask].reset_index(drop=True)

    print(f"Осталось обработать {len(df_to_process)} записей.")

    if len(df_to_process) == 0:
        print("Все записи уже обработаны. Завершаем работу.")
        return

    # Определяем заголовок CSV
    header = ['channel_name', 'address', 'город', 'район', 'coodsX', 'coodY']

    # Итерируемся по строкам DataFrame с прогресс-баром
    for index, row in tqdm(df_to_process.iterrows(), total=df_to_process.shape[0], desc="Обработка адресов"):
        channel_name = row['channel_name']
        address = row['address']

        # Получаем данные из API
        result = get_district_and_coords(address, api_key)

        # Формируем строку для записи
        row_data = [
            channel_name,
            address,
            result['город'] if result['город'] else '',
            result['район'] if result['район'] else '',
            result['coodsX'] if result['coodsX'] else '',
            result['coodY'] if result['coodY'] else ''
        ]

        # Записываем строку в CSV
        try:
            write_to_csv(csv_file, header, row_data)
            print(f"Запись добавлена: {row_data}")
        except Exception as e:
            print(f"Ошибка при записи в CSV для адреса '{address}': {e}")

        # Задержка между запросами (200 мс)
        time.sleep(0.2)

    print(f"\nВсе записи сохранены в файл '{csv_file}'.")

    # Вывод последней записи из CSV
    try:
        df_last = pd.read_csv(csv_file)
        if not df_last.empty:
            last_record = df_last.iloc[[-1]]
            print("\nПоследняя запись в CSV:")
            print(last_record)
        else:
            print("CSV-файл пуст.")
    except Exception as e:
        print(f"Ошибка при чтении CSV-файла для вывода последней записи: {e}")

# Запуск главной функции
if __name__ == "__main__":
    main()

Ошибка при чтении существующего CSV-файла: Error tokenizing data. C error: Expected 6 fields in line 336, saw 11

Осталось обработать 700 записей.

Обработка адресов:   0%|          | 0/700 [00:00<?, ?it/s]

Нет данных для адреса 'Улица Утеген батыра 17Б к4 Гранд Парк жанында'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Улица Утеген батыра 17Б к4 Гранд Парк жанында', '', '', '', '']

Обработка адресов:   0%|          | 1/700 [00:00<08:08,  1.43it/s]

Нет данных для адреса 'ЖК'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'ЖК', '', '', '', '']

Обработка адресов:   0%|          | 2/700 [00:01<08:09,  1.43it/s]

Нет данных для адреса 'Жас қанат Пк Кунаева 33610'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Жас қанат Пк Кунаева 33610', '', '', '', '']

Обработка адресов:   1%|          | 4/700 [00:02<08:10,  1.42it/s]

Нет данных для адреса 'Гагарина'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Гагарина', '', '', '', '']

Обработка адресов:   1%|          | 5/700 [00:03<08:12,  1.41it/s]

Нет данных для адреса 'Карасай батыраМуратбаева'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Карасай батыраМуратбаева', '', '', '', '']

Обработка адресов:   1%|          | 6/700 [00:04<08:05,  1.43it/s]

Нет данных для адреса 'Ауэзовский район ближе к пересечению улиц Абая и Саина Жетысу3 дом 16'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Ауэзовский район ближе к пересечению улиц Абая и Саина Жетысу3 дом 16', '', '', '', '']
Нет данных для адреса 'Таугуль 149'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Таугуль 149', '', '', '', '']

Обработка адресов:   1%|          | 8/700 [00:05<08:09,  1.41it/s]

Нет данных для адреса 'Коктем2 КазНУга напротив'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Коктем2 КазНУга напротив', '', '', '', '']

Обработка адресов:   1%|▏         | 9/700 [00:06<08:10,  1.41it/s]

Нет данных для адреса 'Көктерек 139, наурызбайский район'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Көктерек 139, наурызбайский район', '', '', '', '']

Обработка адресов:   1%|▏         | 10/700 [00:07<08:08,  1.41it/s]

Нет данных для адреса 'Акбулак 7'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Акбулак 7', '', '', '', '']

Обработка адресов:   2%|▏         | 11/700 [00:07<08:23,  1.37it/s]

Нет данных для адреса 'Крамского 14'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Крамского 14', '', '', '', '']

Обработка адресов:   2%|▏         | 12/700 [00:08<08:25,  1.36it/s]

Нет данных для адреса 'ЖК пр Райымбека Емцова Кв 150150300'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'ЖК пр Райымбека Емцова Кв 150150300', '', '', '', '']

Обработка адресов:   2%|▏         | 13/700 [00:09<08:18,  1.38it/s]

Нет данных для адреса 'ТОЛЕБИМОМЫШУЛЫ'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'ТОЛЕБИМОМЫШУЛЫ', '', '', '', '']

Обработка адресов:   2%|▏         | 14/700 [00:10<08:13,  1.39it/s]

Нет данных для адреса 'Бухар жырау между КАЗНУ и ПОЛИТЕХОМ'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Бухар жырау между КАЗНУ и ПОЛИТЕХОМ', '', '', '', '']

Обработка адресов:   2%|▏         | 15/700 [00:10<08:12,  1.39it/s]

Нет данных для адреса 'Мкр ШУГЫЛА 3403'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Мкр ШУГЫЛА 3403', '', '', '', '']

Обработка адресов:   2%|▏         | 16/700 [00:11<08:09,  1.40it/s]

Нет данных для адреса 'ЖамбылаБайзакова'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'ЖамбылаБайзакова', '', '', '', '']

Обработка адресов:   2%|▏         | 17/700 [00:12<08:06,  1.41it/s]

Нет данных для адреса 'Аксай12'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Аксай12', '', '', '', '']

Обработка адресов:   3%|▎         | 18/700 [00:12<08:07,  1.40it/s]

Нет данных для адреса 'пересечение улиц Толеби и Жарокова'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'пересечение улиц Толеби и Жарокова', '', '', '', '']

Обработка адресов:   3%|▎         | 19/700 [00:13<08:26,  1.34it/s]

Нет данных для адреса 'Орбита1 возле МегиРозыбакиева'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Орбита1 возле МегиРозыбакиева', '', '', '', '']
Нет данных для адреса 'ЖК Квартира евродвушка Рядом ТРЦ АДК станция Сайран в 5 минутах АбаяБрусиловского'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'ЖК Квартира евродвушка Рядом ТРЦ АДК станция Сайран в 5 минутах АбаяБрусиловского', '', '', '', '']

Обработка адресов:   3%|▎         | 20/700 [00:14<08:31,  1.33it/s]

Нет данных для адреса 'мкр Тастак'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'мкр Тастак', '', '', '', '']

Обработка адресов:   3%|▎         | 22/700 [00:15<08:35,  1.32it/s]

Нет данных для адреса 'Алатауыски наурызбайски районнан'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Алатауыски наурызбайски районнан', '', '', '', '']

Обработка адресов:   3%|▎         | 23/700 [00:16<08:34,  1.31it/s]

Нет данных для адреса 'Шаляпинаберегового'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Шаляпинаберегового', '', '', '', '']

Обработка адресов:   3%|▎         | 24/700 [00:17<08:16,  1.36it/s]

Нет данных для адреса 'ТимирязеваРозыбакиева'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'ТимирязеваРозыбакиева', '', '', '', '']

Обработка адресов:   4%|▎         | 25/700 [00:18<08:07,  1.39it/s]

Нет данных для адреса 'Төлеби Момышұлы'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Төлеби Момышұлы', '', '', '', '']

Обработка адресов:   4%|▎         | 26/700 [00:18<08:02,  1.40it/s]

Нет данных для адреса 'Алматы'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Алматы', '', '', '', '']

Обработка адресов:   4%|▍         | 27/700 [00:19<07:57,  1.41it/s]

Нет данных для адреса 'ЖК НУРИЯ'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'ЖК НУРИЯ', '', '', '', '']

Обработка адресов:   4%|▍         | 28/700 [00:20<07:59,  1.40it/s]

Нет данных для адреса 'Арбата'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Арбата', '', '', '', '']

Обработка адресов:   4%|▍         | 29/700 [00:20<07:56,  1.41it/s]

Нет данных для адреса 'ЖК Медеу Парк'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'ЖК Медеу Парк', '', '', '', '']

Обработка адресов:   4%|▍         | 30/700 [00:21<07:49,  1.43it/s]

Нет данных для адреса 'Клочкова 166 тимирязева ауэзова'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Клочкова 166 тимирязева ауэзова', '', '', '', '']
Нет данных для адреса 'ЖК Жетису парк на Есенова Баянауыльская'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'ЖК Жетису парк на Есенова Баянауыльская', '', '', '', '']

Обработка адресов:   5%|▍         | 32/700 [00:23<07:52,  1.41it/s]

Нет данных для адреса 'Квартира офис Байзак жақта Муит университетына 5 минут жерде'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Квартира офис Байзак жақта Муит университетына 5 минут жерде', '', '', '', '']

Обработка адресов:   5%|▍         | 33/700 [00:23<07:57,  1.40it/s]

Нет данных для адреса 'Жк 17 этаж'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Жк 17 этаж', '', '', '', '']

Обработка адресов:   5%|▍         | 34/700 [00:24<07:51,  1.41it/s]

Нет данных для адреса 'Алматы'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Алматы', '', '', '', '']

Обработка адресов:   5%|▌         | 35/700 [00:25<07:49,  1.42it/s]

Нет данных для адреса 'ЖК Манхэттан Теракотта Симфония Алтынбулак Онер Гаухартас'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'ЖК Манхэттан Теракотта Симфония Алтынбулак Онер Гаухартас', '', '', '', '']

Обработка адресов:   5%|▌         | 36/700 [00:25<07:44,  1.43it/s]

Нет данных для адреса 'Алмалинский район Толе би Байзакова'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Алмалинский район Толе би Байзакова', '', '', '', '']
Нет данных для адреса 'Аносова 45'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Аносова 45', '', '', '', '']

Обработка адресов:   5%|▌         | 38/700 [00:27<07:44,  1.42it/s]

Нет данных для адреса 'Саина Толе би Ташкентская Момышулы'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Саина Толе би Ташкентская Момышулы', '', '', '', '']

Обработка адресов:   6%|▌         | 39/700 [00:27<07:43,  1.43it/s]

Нет данных для адреса 'Алмалинском района'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Алмалинском района', '', '', '', '']

Обработка адресов:   6%|▌         | 39/700 [00:28<08:05,  1.36it/s]

Нет данных для адреса 'Розыбакиева или Гагарина, Бостандыкский район'
Запись добавлена: ['АЛМАТЫ (КВАРЕНДАПОДСЕЛ🏠)', 'Розыбакиева или Гагарина, Бостандыкский район', '', '', '', '']

KeyboardInterrupt:

In [19]:
Nch = df[df['channel_name'] == 'Квартира в Алматы  Поиск квартиры']
print(Nch)

                      date                                            message  \
18502  2024-11-28 12:15:19  Сдаётся закрытая спальня одной девушке Комната...
18503  2024-11-23 14:46:59  Ищем однокомнатную квартиру Ближе к Алтын орде...
18504  2024-11-23 11:53:43  Ищу отдельную комнату только для себя в 2комна...
18505  2024-11-22 17:24:58  Ищем 2комнатную квартиру на долгий срок Четыре...
18506  2024-11-22 17:22:32  Ищем квартиру для семейной пары Для меня В рай...
18507  2024-11-13 22:23:59  Ищем квартиру на долгий срок с ремонтом Семья ...
18508  2024-11-09 23:03:08  Добрый вечер Ищем квартиру в аренду на долгий ...
18509  2024-10-23 23:28:39  2 комнатная квартира в новом Жилем комплексе С...
18510  2024-09-30 23:10:11  Сдается комната на подселение на трех комнатну...
18511  2024-09-14 19:16:15  Срочно Квартирага Бугн көшп келетн 1 кыз керек...
18512  2024-09-10 11:22:03  Срочно 4 қыз подселениеге барамызтек қыздарға ...
18513  2024-09-08 12:26:58  Добрый день Я девушка Ищу ОДНУ девушку на подс...
18514  2024-09-07 19:45:56  2 қыз бар ішпимз шекпеиміз квартира керек Төле...
18515  2024-08-14 23:00:39  Ищу 2 комнатную квартиру по Абая либо в Ауэзов...
18516  2024-07-18 11:48:50  Ищю квартиру в районе Айтеке би 99 на долгий с...
18517  2024-05-27 14:18:16  Ищу двух девочек на подселение в двухкомнатную...
18518  2024-02-02 09:47:37  6 200 000 Квартира 5359квм Продам по переуступ...
18519  2024-01-25 20:25:33  Добрый день Сдаётся однокомнатная квартира в ц...

                            channel_name                        address  \
18502  Квартира в Алматы  Поиск квартиры          ТимирязеваРозыбакиева
18503  Квартира в Алматы  Поиск квартиры             Ближе к Алтын орде
18504  Квартира в Алматы  Поиск квартиры             Алматинском районе
18505  Квартира в Алматы  Поиск квартиры             Алмалинском районе
18506  Квартира в Алматы  Поиск квартиры               Толе би Момышулы
18507  Квартира в Алматы  Поиск квартиры       Ауэзовском Бостандыкском
18508  Квартира в Алматы  Поиск квартиры                            NaN
18509  Квартира в Алматы  Поиск квартиры          новый Жилем комплексе
18510  Квартира в Алматы  Поиск квартиры              мкр Тастак2 дом 9
18511  Квартира в Алматы  Поиск квартиры                 ЖК Алтын Булак
18512  Квартира в Алматы  Поиск квартиры                            NaN
18513  Квартира в Алматы  Поиск квартиры                 Саина Улугбека
18514  Квартира в Алматы  Поиск квартиры                            NaN
18515  Квартира в Алматы  Поиск квартиры  Абая либо в Ауэзовском районе
18516  Квартира в Алматы  Поиск квартиры                   Айтеке би 99
18517  Квартира в Алматы  Поиск квартиры            2 микрорайон дом 10
18518  Квартира в Алматы  Поиск квартиры                 ЖК Бута Легаси
18519  Квартира в Алматы  Поиск квартиры              ТастакТоле би 278

           cost  gender  people_needed long_term     phone_number utilities  \
18502  150000.0  female            1.0       NaN      87002425382         1
18503  120000.0     NaN            NaN         0      87077370541         0
18504   70000.0  female            4.0       NaN      77476688502         0
18505  225000.0  female            4.0         1      87083013745         0
18506  100000.0     NaN            2.0       NaN      87073127783         0
18507  200000.0     NaN            NaN         1      77051959440         0
18508  200000.0    male            2.0         1    7 705 8048289         0
18509  150000.0     NaN            1.0       NaN              NaN         0
18510   55000.0     NaN            3.0       NaN      87474212597         1
18511   50000.0  female            1.0       NaN      87789035229         1
18512   50100.0  female            4.0       NaN   7 705 471 5736         0
18513   80000.0  female            1.0       NaN  7 701 221 92 47         1
18514   40000.0  female            2.0       NaN      77054715736         0
18515       NaN     NaN            NaN      True      77055257429         0
18516       NaN     NaN            NaN      True      87714869325         0
18517   80000.0  female            2.0       NaN      87079457077         1
18518   62000.0     NaN            NaN       NaN   7 777 224 1077         0
18519  250000.0     NaN            NaN       NaN      87012233979         0

       deposit
18502      NaN
18503      NaN
18504      NaN
18505      NaN
18506      NaN
18507      NaN
18508      NaN
18509      NaN
18510      NaN
18511      NaN
18512      NaN
18513      NaN
18514      NaN
18515      NaN
18516      NaN
18517      NaN
18518      NaN
18519      NaN